
header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url('');
    background-size: cover;
    color: green;
}
body{
    background-image: url("Plaatjes/blad.png");
    background-position: left;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#b{
    color: red;
}
h2{
    color: green;
}
#titleh1 {
    font-size: 40px;
}
#linklink{
    color: darkblue;
}
#plaatje {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
    height: 200px;
	width: 350px;
}
ul {
    padding: 10px;
    background: green;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
