header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url('');
    background-size: cover;
    color: green;
}
/* Popup container */
.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.black{
    color: black;
}

.wrap {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1001;
}

.pling {
    width: 555px;
    height: 375px;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 150px; left: 375px;
}

/* The actual popup (appears on top) */
.popup .popuptext{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  /* Popup arrow */
.popup .popuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
.contact{
    float: left;
}
body{
    background-image: url("Plaatjes/blad.png");
    background-position: left;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#b{
    color: green;
}
h2{
    color: green;
}
#titleh1 {
    font-size: 40px;
}
#linklink{
    color: darkblue;
}
#plaatje {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
    height: 200px;
	width: 350px;
}
ul {
    padding: 10px;
    background: green;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
